@model GiftViewModel

<section class="mb-6">
<div>
<div class="flex flex-wrap m-3">
    <div class="field">
        <div class="w-1/6">
            <label class="input-label" asp-for="Title"></label>
        </div>
        <div class="w-4/6">
            <input class="input-box" type="text" asp-for="Title" />
            <span asp-validation-for="Title"></span>
        </div>
    </div>
    
    <div class="field">
        <div class="w-1/6">
            <label class="input-label" asp-for="Description"></label>
        </div>
        <div class="w-4/6">
            <input class="input-box" type="text" asp-for="Description" />
        </div>
    </div>
    <div class = "field">
        <div class="w-1/6">
            <label class="input-label" asp-for="Url"></label>
        </div>
        <div class="w-4/6">
            <input class="input-box" type="text" asp-for="Url" />
        </div>
    </div>
    <div class = "field">
        <div class="w-1/6">
            <label class="input-label" asp-for="Priority"></label>
        </div>
        <div class="w-4/6">
            <input class="input-box" type="text" asp-for="Priority" />
            <span asp-validation-for="Priority"></span>
        </div>
    </div>
    
    <div class = "field">
        <div class="w-1/6">
            <label class="input-label" asp-for="UserId"></label>
        </div>
        <div class="w-4/6">
            <select class="input-box" asp-for="UserId" asp-items="@(new SelectList(MockData.Users, "Id", "FullName"))">
                <option>Please select one</option>
            </select>
            <span asp-validation-for="UserId"></span>
        </div>
        
    </div>
</div>
</div>