@model GiftViewModel

<form asp-controller="Gifts" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btn">Create</button>
    <a class="btn" asp-controller="Gifts" asp-action="Index">Cancel</a>
</form>
