<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Secret Santa - @ViewBag.Title</title>
    <!-- Stylesheets -->
    <% for (var filename in htmlWebpackPlugin.files.css) { %>
    <link href="~<%= htmlWebpackPlugin.files.css[filename] %>" rel="stylesheet" />
    <% } %>
    <!-- End Stylesheets -->
    <style>
        nav {
            background-color: paleturquoise;
            border: solid 2px black;
        }
        nav>ul>li>a {
            color: black;
        }
    </style>
</head>
<body>
    <header class="bg-green-400 text-white flex flex-col sm:flex-row justify-between">
        <div class="flex flex-row justify-between">
            <a class="text-2xl leading-10 ml-4" asp-controller="Home" asp-action="Index">Secret Santa</a>
            <button class="sm:hidden" onclick="toggleMenuWithJs()"><i class="fas fa-bars align-middle h-full mr-4"></i></button>
        </div>
        <nav id="headerNav" class="hidden sm:inline-block">
            <ul class="flex flex-col sm:flex-row">
                <li class="sm:px-6 pl-6 leading-10"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="sm:px-6 pl-6 leading-10"><a asp-controller="Users" asp-action="Index">Users</a></li>
                <li class="sm:px-6 pl-6 leading-10"><a asp-controller="Groups" asp-action="Index">Groups</a></li>
                <li class="sm:px-6 pl-6 leading-10"><a asp-controller="Gifts" asp-action="Index">Gifts</a></li>
            </ul>
        </nav>
    </header>
    @RenderBody()

    <!-- Scripts -->
    <% for (var index in htmlWebpackPlugin.files.js) { %>
    <script src="~<%= htmlWebpackPlugin.files.js[index] %>"></script>
    <% } %>

<script>
    function toggleMenuWithJs() {
        var headerNav = document.getElementById("headerNav");
        if (headerNav) {
            if (headerNav.classList.contains("hidden")) {
                headerNav.classList.remove("hidden")
            } else {
                headerNav.classList.add("hidden")
            }
        }
    }
</script>
    <!-- End Scripts -->
</body>
</html>