@model UserViewModel

<form asp-controller="Users" asp-action="Create" method="post">
    @await Html.PartialAsync("_CreateOrEdit")
    <button class="btn">Create</button>
    <a class="btn" asp-controller="Users" asp-action="Index">Cancel</a>
</form>